.wrapper {
  display: inline-flex;
}

.segment {
  padding: 6px 12px;
  font-size: 0.875rem;
  line-height: 1;
  border: 1px solid #d0cdd7;
  background-color: #fff;
  color: #65636d;
  cursor: pointer;
  outline: none;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
}

.segment + .segment {
  margin-left: -1px;
  border-left: none;
}

.segment:first-child {
  border-radius: 12px 0 0 12px;
}
.segment:last-child {
  border-radius: 0 12px 12px 0;
}

.active {
  background-color: color(display-p3 0.57 0.373 0.791);
  background-color: #9a5cd0;
  border-color: color(display-p3 0.57 0.373 0.791);
  border-color: #9a5cd0;
  color: #fff;
}

.segment:hover {
  background-color: #f2eff3;
}
.segment:hover.active {
  background-color: color(display-p3 0.523 0.318 0.751);
  background-color: #8e4ec6;
}
