.pages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.page {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0cdd7;
  max-width: 222px;
  padding: 16px;
  border-radius: 12px;
  background-color: transparent;
  transition: all 0.2s ease;
  text-decoration: none;
}

.page:hover {
  background-color: #30004010;
  cursor: pointer;
}

.page:active {
  background-color: #20003820;
}

.pageTitle {
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #793aaf;
}

.pageDescription {
  margin-top: 8px;
  color: #65636d;
  font-size: 14px;
}

.new {
  color: #ffffff;
  background-color: #8e4ec6;
  background-color: color(display-p3 0.523 0.318 0.751);
  font-size: 10px;
  font-weight: 600;
  margin-left: 8px;
  padding: 2px 6px;
  border-radius: 6px;
  height: 14px;
  font-family: var(--font-code);
}
