previews:
  generation: automatic
  expireAfterDays: 7

services:
  - type: web
    name: mui-tools-public
    env: node
    rootDir: apps/tools-public
    buildCommand: |
      # Required per https://github.com/pnpm/pnpm/issues/9029#issuecomment-2629866277
      npm install -g corepack@latest

      corepack enable
      pnpm --version
      pnpm install --frozen-lockfile
      pnpm build
    startCommand: pnpm start
    plan: starter
    region: virginia
    previews:
      plan: starter
    domains:
      - tools-public.mui.com
    healthCheckPath: /health-check
    envVars:
      - key: NODE_VERSION
        value: 22
      - key: NODE_OPTIONS
        value: --enable-source-maps
      - fromGroup: MUI Store database
      - fromGroup: GitHub public
      - fromGroup: GitHub mui-bot2 public_repo
      - fromGroup: HiBob
      - fromGroup: Zendesk
      - fromGroup: Google Sheet service account
