previews:
  generation: automatic
  expireAfterDays: 3

services:
  - type: web
    name: mui-public-tools-public
    env: node
    rootDir: tools-public
    buildCommand: corepack enable && pnpm install --frozen-lockfile && pnpm build
    startCommand: pnpm start
    plan: starter
    previews:
      plan: starter
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: NODE_OPTIONS
        value: --enable-source-maps
      - fromGroup: MUI Store database
      - fromGroup: GitHub public
      - fromGroup: GitHub mui-bot2 public_repo
      - fromGroup: HiBob
      - fromGroup: Zendesk
      - fromGroup: Google Sheet service account
