html {
  /* Stable scrollbar */
  overflow-y: scroll;
  word-break: break-word;
}

body {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
  box-sizing: border-box;
}

@supports (view-transition-name: none) {
  ::view-transition-old(main-content) {
    animation-duration: 200ms;
  }

  ::view-transition-new(main-content) {
    animation-delay: 200ms;
    animation-duration: 150ms;
  }

  ::view-transition-old(side-nav) {
    animation-duration: 200ms;
  }

  ::view-transition-new(side-nav) {
    animation-delay: 200ms;
    animation-duration: 150ms;
  }
}

::selection {
  color: #fefcfe;
  background: #8145b5;
}
