@supports (view-transition-name: none) {
  ::view-transition-old(main-content) {
    animation-duration: 200ms;
  }

  ::view-transition-new(main-content) {
    animation-delay: 200ms;
    animation-duration: 150ms;
  }

  ::view-transition-old(side-nav) {
    animation-duration: 200ms;
  }

  ::view-transition-new(side-nav) {
    animation-delay: 200ms;
    animation-duration: 150ms;
  }
}
