html {
  /* Stable scrollbar */
  overflow-y: scroll;
  word-break: break-word;
}

body {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
  box-sizing: border-box;
}

@supports (view-transition-name: none) {
  ::view-transition-old(main-content) {
    animation-duration: 200ms;
  }

  ::view-transition-new(main-content) {
    animation-delay: 200ms;
    animation-duration: 150ms;
  }

  ::view-transition-old(side-nav) {
    animation-duration: 200ms;
  }

  ::view-transition-new(side-nav) {
    animation-delay: 200ms;
    animation-duration: 150ms;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: #fefcfe;
  background: #8145b5;
}

::selection {
  color: #fefcfe;
  background: #8145b5;
}

.line[data-hl] {
  background: #ebe4ff;
  margin: 0 -6px;
  padding: 0 6px;
}

.line[data-hl='strong'] {
  background: #e1d9ff;
  margin: 0 -6px;
  padding: 0 6px;
}

.line[data-hl-position='single'] {
  border-radius: 8px;
}

.line[data-hl-position='start'] {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.line[data-hl-position='end'] {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.line[data-hl-description]::after {
  content: attr(data-hl-description);
  float: right;
}
