CIRCLE_TOKEN=token
NEXT_PUBLIC_MUI_LICENSE=your-license-key-here
GITHUB_TOKEN=token
BASTION_HOST=host
BASTION_USERNAME=username
BASTION_SSH_KEY=key
STORE_PRODUCTION_READ_HOST=host
STORE_PRODUCTION_READ_USERNAME=username
STORE_PRODUCTION_READ_PASSWORD=password
STORE_PRODUCTION_READ_DATABASE=database
HIBOB_TOKEN_READ_STANDARD=token
ZENDESK=token
