version: 2.1

orbs:
  code-infra: https://raw.githubusercontent.com/mui/mui-public/8b1850f1e23152917fcc1e97d123805cd99d6a31/heads/master/.circleci/orbs/code-infra.yml

parameters:
  workflow:
    description: The name of the workflow to run
    type: string
    default: pipeline

default-job: &default-job
  working_directory: /tmp/mui
  executor: code-infra/mui-node

default-context: &default-context
  context:
    - org-global

jobs:
  checkout:
    <<: *default-job
    steps:
      - checkout
      - code-infra/install-deps
      - run:
          name: Should not have any git not staged
          command: git add -A && git diff --exit-code --staged
  test_lint:
    <<: *default-job
    steps:
      - checkout
      - code-infra/install-deps
      - code-infra/eslint
      - code-infra/stylelint
      - code-infra/markdownlint
  test_static:
    <<: *default-job
    steps:
      - checkout
      - code-infra/install-deps
      - code-infra/check-static-changes
      - run:
          # make sure the netlify ignore command has the correct dependencies
          name: '`pnpm update-netlify-ignore` changes committed?'
          command: |
            pnpm update-netlify-ignore
            git add -A && git diff --exit-code --staged
  test_unit:
    <<: *default-job
    steps:
      - checkout
      - code-infra/install-deps
      - run:
          name: 'Run tests'
          command: pnpm test
  test_package:
    <<: *default-job
    steps:
      - checkout
      - code-infra/install-deps
      - run:
          name: Build packages
          command: pnpm release:build
      - code-infra/upload-size-snapshot

workflows:
  version: 2
  pipeline:
    when:
      equal: [pipeline, << pipeline.parameters.workflow >>]
    jobs:
      - checkout:
          <<: *default-context
      - test_lint:
          <<: *default-context
      - test_static:
          <<: *default-context
      - test_unit:
          <<: *default-context
      - test_package:
          <<: *default-context
