version: 2.1

parameters:
  workflow:
    description: The name of the workflow to run
    type: string
    default: pipeline

default-job: &default-job
  working_directory: /tmp/mui
  docker:
    - image: cimg/node:22.18
  environment:
    DANGER_DISABLE_TRANSPILATION: 'true'

default-context: &default-context
  context:
    - org-global

commands:
  install_js:
    steps:
      - run:
          name: Install corepack
          # See https://stackoverflow.com/a/73411601
          command: corepack enable --install-directory ~/bin
      - run:
          name: View install environment
          command: |
            node --version
      - run:
          name: Install js dependencies
          command: pnpm install

jobs:
  checkout:
    <<: *default-job
    steps:
      - checkout
      - install_js
      - run:
          name: Should not have any git not staged
          command: git add -A && git diff --exit-code --staged
      - run:
          name: '`pnpm dedupe` was run?'
          command: |
            # #default-branch-switch
            if [[ $(git diff --name-status master | grep -E 'pnpm-workspace\.yaml|pnpm-lock.yaml|package\.json') == "" ]];
            then
                echo "no changes to dependencies detected, skipping..."
            else
                pnpm dedupe --check
            fi
  test_lint:
    <<: *default-job
    steps:
      - checkout
      - install_js
      - run:
          name: Docs Infra Build
          command: pnpm -F './packages/docs-infra' run build
      - run:
          name: ESLint
          command: pnpm eslint:ci
      - run:
          name: ESLint
          command: pnpm eslint:ci
      - run:
          name: TypeScript
          command: pnpm typescript
  docs_validate:
    <<: *default-job
    steps:
      - checkout
      - install_js
      - run:
          name: Build docs-infra package
          command: pnpm docs:lib
      - install_js
      - run:
          name: Validate the documentation files
          command: pnpm docs:validate
  test_static:
    <<: *default-job
    steps:
      - checkout
      - install_js
      - run:
          name: '`pnpm prettier` changes committed?'
          command: |
            # #target-branch-reference
            if [[ $(git diff --name-status master | grep pnpm-lock) == "" ]];
            then
                pnpm prettier --check
            else
                pnpm exec prettier --check . --ignore-path .lintignore
            fi
      - run:
          # make sure the netlify ignore command has the correct dependencies
          name: '`pnpm update-netlify-ignore` changes committed?'
          command: |
            pnpm update-netlify-ignore
            git add -A && git diff --exit-code --staged
  test_unit:
    <<: *default-job
    steps:
      - checkout
      - install_js
      - run:
          name: 'Run tests'
          command: pnpm test
  test_package:
    <<: *default-job
    steps:
      - checkout
      - install_js
      - run:
          name: Build packages
          command: pnpm release:build
      - run:
          name: create and upload a size snapshot
          command: |
            export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID_ARTIFACTS
            export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY_ARTIFACTS
            export AWS_REGION=$AWS_REGION_ARTIFACTS
            pnpm size:snapshot

workflows:
  version: 2
  pipeline:
    when:
      equal: [pipeline, << pipeline.parameters.workflow >>]
    jobs:
      - checkout:
          <<: *default-context
      - test_lint:
          <<: *default-context
      - docs_validate:
          <<: *default-context
          name: 'Validating Docs'
      - test_static:
          <<: *default-context
      - test_unit:
          <<: *default-context
      - test_package:
          <<: *default-context
