.root {
  display: flex;
  width: 88px;
  height: 28px;
}

.indicator {
  position: absolute;
  height: 28px;
  width: 44px;
  background-color: color(display-p3 0.57 0.373 0.791);
  background-color: #9a5cd0;
  z-index: -100;
  border-radius: 12px 0 0 12px;
  transition: all 0.2s ease;
}

.indicator.checked {
  transform: translateX(45px);
  border-radius: 0 12px 12px 0;
}

.segment {
  flex: 1;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  border: 1px solid #10003332;
  border: 1px solid color(display-p3 0.067 0.008 0.184 / 0.197);
  background-color: transparent;
  color: #0400119c;
  color: color(display-p3 0.016 0 0.059 / 0.612);
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
}

.segment + .segment {
  margin-left: -1px;
  border-left: none;
}

.segment:nth-child(2) {
  border-radius: 12px 0 0 12px;
}
.segment:nth-child(2).active {
  border-radius: 12px 0 0 12px;
}
.segment:last-child {
  border-radius: 0 12px 12px 0;
}

.segment.active {
  background-color: transparent;
  border-color: color(display-p3 0.57 0.373 0.791);
  border-color: #9a5cd0;
  color: #fff;
}

.segment:hover {
  background-color: #30004010;
  background-color: color(display-p3 0.129 0.008 0.255 / 0.063);
  border-color: #30004010;
  border-color: color(display-p3 0.129 0.008 0.255 / 0.063);
}
