.container {
  border: 1px solid #d0cdd7;
  border-radius: 8px;
}

.header {
  border-bottom: 1px solid #d0cdd7;
  height: 48px;
  position: relative;
}

.headerContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  height: 48px;
}

.tabContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: -1px;
  padding-bottom: 2px;
  overflow-x: auto;
}

.switchContainer {
  display: flex;
}

.switchContainerHidden {
  display: none;
}

.code {
  padding: 10px 6px;
}

.codeBlock {
  margin: 0;
  padding: 6px;
  overflow-x: auto;
}

.codeBlock code {
  display: block;
  white-space: normal;
}

.codeBlock > code .line {
  display: block;
  white-space: pre;
}

.name {
  display: flex;
  align-items: center;
  height: 48px;
}

.name span {
  color: #65636d;
  padding: 8px 12px;
  font-size: 12px;
  font-family: var(--font-geist-mono);
}
