name: PR Releases

on:
  workflow_call:
    inputs:
      node-version:
        description: 'Node.js version to use'
        required: true
        type: string
      use-compact-url:
        description: 'Use compact URLs for pkg.pr.new'
        required: false
        type: boolean
        default: false
      pr-comment:
        description: 'Allows comments from pkg.pr.new bot when true'
        type: boolean
        required: false
        default: false
      post-build-command:
        description: 'Command to run after build'
        type: string
        required: false
        default: ''

jobs:
  pkg-releases:
    name: pkg.pr.new releases
    if: ${{ github.repository_owner == 'mui' }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ github.actor }}"
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          # fetch all tags which are required for `pnpm release:changelog`
          fetch-depth: 0
      - name: Set up pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      - name: Use Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ inputs.node-version }}
          # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-dependencies
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm release:build
      - name: ${{ inputs.post-build-command == '' && 'Skipping ' || '' }}Post-build command
        if: ${{ inputs.post-build-command != '' }}
        run: ${{ inputs.post-build-command }}
      - name: Publish packages to pkg.pr.new
        run: pnpm dlx pkg-pr-new publish $(pnpm code-infra list-workspaces --public-only --output=publish-dir) --pnpm --packageManager=pnpm --comment=${{ inputs.pr-comment == true && 'update' || 'off' }} --peerDeps --template './examples/*'${{ inputs.use-compact-url && ' --compact' || '' }}
