name: PR Releases

on:
  workflow_call:
    inputs:
      # For backwards compatibility
      node-version:
        description: 'Node.js version to use'
        required: false
        type: string
        default: ''
      use-compact-url:
        description: 'Use compact URLs for pkg.pr.new'
        required: false
        type: boolean
        default: false
      pr-comment:
        description: 'Allows comments from pkg.pr.new bot'
        type: boolean
        required: false
        default: false

permissions: {}

jobs:
  pkg-releases:
    name: pkg.pr.new releases
    if: ${{ github.repository_owner == 'mui' }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ github.actor }}"
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          # fetch all tags which are required for `pnpm release:changelog`
          fetch-depth: 0
      - name: Set up pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Use specific Node.js version
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        if: ${{ inputs.node-version != '' }}
        with:
          node-version: ${{ inputs.node-version }}
      - name: Use Node.js version from repo
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        if: ${{ inputs.node-version == '' }}
        with:
          node-version-file: 'package.json'
          # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-dependencies
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm release:build
      - name: Publish packages to pkg.pr.new
        uses: mui/mui-public/.github/actions/ci-publish@master
        with:
          pr-comment: ${{ inputs.pr-comment }}
          use-compact-url: ${{ inputs.use-compact-url }}
