name: PR Package Releases

on:
  push:
    branches-ignore:
      # Renovate branches are always Pull Requests.
      # We don't need to run CI twice (push+pull_request)
      - 'renovate/**'
      - 'dependabot/**'

permissions: {}

jobs:
  continuous-releases:
    name: CI Releases
    uses: ./.github/workflows/ci-base.yml
    with:
      node-version: '22'
      os: 'ubuntu-latest'
      publish-extra-args: '--compact'
