name: Close stale issues and PRs

on:
  workflow_call:
    inputs:
      operations:
        description: 'The number of operations to use (should not exceed 500)'
        default: 50
        required: false
        type: number

permissions: {}

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      # only needed for delete-branch option (which we are currently not using)
      # contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10
        with:
          operations-per-run: ${{ inputs.operations }}

          # stale issue handling
          stale-issue-message: 'This issue has been inactive for 7 days. Please remove the stale label or leave a comment to keep it open. Otherwise, it will be closed in 5 days.'
          close-issue-message: 'This issue has been closed due to 5 days of inactivity after being marked stale.'
          # labeling "stale" after 7 days and closing after additional 5 days
          days-before-issue-stale: 7
          days-before-issue-close: 5
          # only run on issues with the waiting for author label
          only-issue-labels: 'status: waiting for author'

          # stale PR handling
          stale-pr-message: 'This pull request has been inactive for 30 days. Please remove the stale label or leave a comment to keep it open. Otherwise, it will be closed in 15 days.'
          close-pr-message: 'This pull request has been closed due to 15 days of inactivity after being marked stale.'
          # labeling "stale" after 30 days and closing after additional 15 days
          days-before-pr-stale: 30
          days-before-pr-close: 15
          # do not run this on draft PRs
          exempt-draft-pr: true
