name: Issue cleanup & Order ID validation

on:
  issues:
    types:
      - opened
  workflow_call:
    outputs:
      orderId:
        description: 'If a order id is found in the issue body, it will be outputted here'
        value: ${{ jobs.issue_cleanup.outputs.orderId }}

permissions: {}

jobs:
  issue_cleanup:
    name: Clean issue body
    runs-on: ubuntu-latest
    permissions:
      issues: write
    outputs:
      orderId: ${{ steps.cleanup.outputs.ORDER_ID }}
    steps:
      - name: Check out mui-public repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          # Check this repository out, otherwise the script won't be available,
          # as it otherwise checks out the repository where the workflow caller is located
          repository: mui/mui-public
      - name: Clean issue title
        # for now this only works (makes sense) for mui-x
        if: github.event.repository.name == 'mui-x'
        id: titleCleanup
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const script = require('./.github/workflows/scripts/issues/titleCleanup.js')
            await script({core, github, context})
      - name: Clean issue body
        id: cleanup
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const script = require('./.github/workflows/scripts/issues/bodyCleanup.js');
            await script({core, github, context});
