name: Check issue status label

on:
  workflow_call:

permissions: {}

jobs:
  add-comment:
    runs-on: ubuntu-latest
    name: Check author permission and status labels
    if: ${{ !github.event.issue.pull_request }}
    permissions:
      contents: read
      issues: write
      actions: write
    steps:
      - name: Check out mui-public repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          # Check this repository out, otherwise the script won't be available,
          # as it otherwise checks out the repository where the workflow caller is located
          repository: mui/mui-public
      - name: Label check
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const script = require('./.github/workflows/scripts/issues/statusLabelHandler.js');
            await script({core, github, context});
