name: Order ID validation

on:
  issues:
    types:
      - opened
  workflow_call:
    inputs:
      orderId:
        required: true
        type: string

permissions: {}

jobs:
  order_validation:
    name: Validate order ID
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Check out mui-public repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          # Check this repository out, otherwise the script won't be available,
          # as it otherwise checks out the repository where the workflow caller is located
          repository: mui/mui-public
      - name: Validate order ID
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const script = require('./.github/workflows/scripts/issues/orderIdValidation.js');
            await script({core, github, context});
        env:
          ORDER_ID: ${{ inputs.orderId }}
          ORDER_API_TOKEN: ${{ secrets.SHOP_AUTH_TOKEN }}
