name: Cherry pick onto target branches

on:
  workflow_call:
    inputs:
      target_branch:
        description: 'The target branch (e.g. `v7.x`)'
        required: false
        type: string
      pr_number:
        description: 'The PR number to cherry-pick from'
        required: false
        type: string
    secrets:
      token:
        # Needed when the repository uses GitHub actions https://github.com/orgs/community/discussions/55906
        # We usually use CircleCI but not always.
        description: 'The github token to use for the API calls. You can use the GITHUB_TOKEN secret'
        required: false

permissions: {}

jobs:
  detect_cherry_pick_targets:
    runs-on: ubuntu-latest
    name: Detect cherry-pick targets
    permissions:
      pull-requests: write
      contents: write
    if: ${{ (inputs.target_branch != '' && inputs.pr_number != '') || (contains(github.event.pull_request.labels.*.name, 'needs cherry-pick') && github.event.pull_request.merged == true)}}
    outputs:
      targetBranches: ${{ steps.detect.outputs.TARGET_BRANCHES }}
      reviewers: ${{ steps.detect.outputs.REVIEWERS }}
      labels: ${{ steps.detect.outputs.LABELS }}
    steps:
      - name: Check out mui-public repo
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # Check this repository out, otherwise the script won't be available,
          # as it otherwise checks out the repository where the workflow caller is located
          repository: mui/mui-public
      - name: Detect target
        id: detect
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          TARGET_BRANCH: ${{ inputs.target_branch }}
          PR_NUMBER: ${{ inputs.pr_number }}
        with:
          script: |
            const script = require('./.github/workflows/scripts/prs/detectTargetBranch.js');
            await script({core, github, context});
  open_cherry_pick_pr:
    runs-on: ubuntu-latest
    name: Open cherry-pick PR with target branch
    if: needs.detect_cherry_pick_targets.outputs.targetBranches != ''
    strategy:
      matrix:
        branch: ${{ fromJSON(needs.detect_cherry_pick_targets.outputs.targetBranches) }}
    permissions:
      pull-requests: write
      contents: write
    needs: detect_cherry_pick_targets
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Cherry pick and create the new PR
        uses: carloscastrojumo/github-cherry-pick-action@503773289f4a459069c832dc628826685b75b4b3 # v1.0.10
        with:
          # the action will run for each value in matrix.branch
          branch: ${{ matrix.branch }}
          token: ${{ secrets.token || secrets.GITHUB_TOKEN }}
          body: 'Cherry-pick of #{old_pull_request_id}'
          cherry-pick-branch: ${{ format('cherry-pick-{0}-to-{1}', github.event.number, matrix.branch) }}
          title: '{old_title} (@${{ github.event.pull_request.user.login }})'
          # assigning the original reviewers to the new PR
          reviewers: ${{ needs.detect_cherry_pick_targets.outputs.reviewers }}
          # instead of inheriting labels (including target branch label, etc.), we filter and set the labels explicitly
          inherit_labels: false
          labels: ${{ needs.detect_cherry_pick_targets.outputs.labels }}
