name: Check PR for type labels

on:
  workflow_call:

permissions: {}

jobs:
  check_type_label:
    runs-on: ubuntu-latest
    name: Check PR type labels
    permissions:
      pull-requests: read
    if: ${{ github.event.pull_request.merged == false }}
    steps:
      - name: Check out mui-public repo
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # Check this repository out, otherwise the script won't be available,
          # as it otherwise checks out the repository where the workflow caller is located
          repository: mui/mui-public
      - name: Run checkTypeLabel.js script
        id: detect
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const script = require('./.github/workflows/scripts/prs/checkTypeLabel.js');
            await script({core, github, context});
