name: Check PR for type labels

on:
  workflow_call:

permissions: {}

jobs:
  check_type_label:
    runs-on: ubuntu-latest
    name: Check PR type labels
    permissions:
      issues: write
      pull-requests: write
      contents: write
    if: ${{ github.event.pull_request.merged == false }}
    steps:
      - name: Check out mui-public repo
        id: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # Check this repository out, otherwise the script won't be available,
          # as it otherwise checks out the repository where the workflow caller is located
          repository: mui/mui-public
      - name: Run checkTypeLabel.js script
        id: detect
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            const script = require('./.github/workflows/scripts/prs/checkTypeLabel.js');
            await script({core, github, context});
