name: Check for target branch labels

on:
  pull_request_target:
    branches:
      - 'v*.x'
      - 'master'
    types: ['labeled']
  workflow_call:

permissions: {}

jobs:
  detect_cherry_pick_target:
    runs-on: ubuntu-latest
    name: Check target branch labels
    permissions:
      issues: write
      pull-requests: write
      contents: write
    if: ${{ github.event.label.name == 'needs cherry-pick' && github.event.pull_request.merged == false }}
    steps:
      - name: Check out mui-public repo
        id: checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          # Check this repository out, otherwise the script won't be available,
          # as it otherwise checks out the repository where the workflow caller is located
          repository: mui/mui-public
      - name: Run checkTargetBranchLabel.js script
        id: detect
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            const script = require('./.github/workflows/scripts/prs/checkTargetBranchLabel.js');
            await script({core, github, context});
